#header-con{
    background: url(../img/head-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
#header-con::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top , #0000006e, #ffffff00, #0000006e);
    z-index: 1;
    backdrop-filter:blur(1px);
}
#gallery-con{
    column-gap: 10px;
    columns: auto;
    column-width: 30vw;
}
#img_card{
    transition: .4s;
}
.img_content{
    opacity: 0;
    transition: .6s;
}
#img_card:hover>.img_content{
    opacity: 1;
}

.lodderDot:nth-child(2){
animation-delay: 3s;
}
.lodderDot:nth-child(3){
animation-delay: .6s;
}
.lodderDot{
animation: animate 1s ease-in-out  infinite  alternate;
}
#lodding-text{
    opacity: .2;
    animation: ops 1s ease-in-out  infinite  alternate;
}

.showDownlodeText{
    color: rgb(255, 255, 255);
    padding: 1px 6px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #969696d3;
}

@keyframes animate {  
to{
    transform: translateY(-5px);
}    
}
@keyframes ops {    
to{
    opacity: .8;
}
}
@media (max-width: 665px) {
    #gallery-con{
        column-width: 100vw;
        padding-left: 14px;
        padding-right: 14px;
    }
    #setting{
        padding-left: 14px;
        padding-right: 14px;
    }

}